<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Araç_Takip_Sistemi.Properties.Settings.TrainingConnectionString"
            connectionString="Data Source=DESKTOP-S8TSQQK;Initial Catalog=Training;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Araç_Takip_Sistemi.Properties.Settings.KullanicilarConnectionString"
            connectionString="Data Source=DESKTOP-S8TSQQK;Initial Catalog=Kullanicilar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Araç_Takip_Sistemi.Properties.Settings.UsersConnectionString"
            connectionString="Data Source=DESKTOP-S8TSQQK;Initial Catalog=Users;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Araç_Takip_Sistemi.Properties.Settings.CarsConnectionString"
            connectionString="Data Source=DESKTOP-S8TSQQK;Initial Catalog=Cars;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>